{% extends 'base.html' %}

{% block title %}Dashboard{% endblock %}

{% block content %}
<div class="container">
    <div class="card mt-5 p-4 shadow-sm">
        <h1>Your Dashboard</h1>
        <div class="d-flex justify-content-between border-bottom">
            <p class="text-muted">Manage your recipe orders and details</p>
            <a href="{% url 'account:edit_profile' %}">Change your details</a>
        </div>
        {% for order in orders %}
        <div class="row g-3">

            <div class="col-12 bg-light p-3 d-flex justify-content-between">
                <div>

                    <div class="pe-3 border-bottom">{{ order.created }}</div>
                    <div class="dropdown border-bottom mt-2 mb-2">
                        <a class="dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            View Shipping details
                        </a>

                        <ul class="dropdown-menu" aria-labelledby="dropdownLink">
                            <li class="dropdown-item">Addressee Name: {{order.fullname}}</li>
                            <li class="dropdown-item">Address Line 1: {{order.address1}}</li>
                            {% if order.address2 %}<li class="dropdown-item">Address Line 2: {{order.address2}}</li>{% endif %}
                            <li class="dropdown-item">Postcode: {{order.postcode}}</li>
                        </ul>
                    </div>
                    <div class="dropdown mt-2 mb-2">
                        <a class="dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            View Ordered Items
                        </a>

                        <ul class="dropdown-menu" aria-labelledby="dropdownLink">
                            {% for item in order.items.all %}
                                <a class="text-decoration-none" href="{{ item.recipe.get_absolute_url }}">
                                    <li class="dropdown-item">{{item.recipe|title}}: £{{ item.price }}</li>
                                </a>
                            {% endfor %}
                        </ul>
                    </div>

                </div>
                <div class="text-end">Total paid: <span class="fw-bold">£{{ order.total_paid }}</span>
                    <div class="d-flex text-end flex-column">
                        <button class="btn btn-warning btn-sm" type="button">Problem with order</button>
                        <button class="btn btn-secondary btn-sm" type="button">Leave a review</button>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}