{% extends 'base.html' %}

{% block title %}Reset Password{% endblock %}

{% block content %}
{% load crispy_forms_tags %}
<div class="container" style="width:60%">
    <div class="card mt-5 shadow-sm p-3">
        <h1 class="border-bottom ml-3 mr-3">Enter Your Email to Reset Your Password</h1>
        <form method="POST" action="{% url 'account:pwdreset' %}" class="form-group p-3">
            <p>Enter your e-mail address to obtain a new password.</p>
            {% if form.errors %}
            <div class="alert alert-primary" role="alert">
                Error: Please try again!
            </div>
            {% endif %}
            {% csrf_token %}
            <label class="small font-weight-bold">{{ form.email.label}}</label>
            {{ form.email }}
            <button class="btn btn-primary btn-block py-2 wide" type="submit" value="Send e-mail">Send e-mail</button>
        </form>
        <a href="{% url 'account:login' %}" class="border-top ml-3 mr-3">Go Back to Login?</a>
    </div>
</div>
{% endblock %}