{% extends 'base.html' %}

{% block title %}Reset Confirm{% endblock %}

{% block content %}
{% load crispy_forms_tags %}
<div class="container" style="width:60%">
    <div class="card mt-5 shadow-sm p-3">
        <h1 class="border-bottom ml-3 mr-3">Reset Your Password</h1>
        <form method="post" class="form-group p-3">
            {% if form.errors %}
                {% for error in form.errors %}
                    <p class="alert alert-warning">{{ error }}</p>
                {% endfor %}
            {% endif %}
            {% csrf_token %}
            {{form|crispy}}
            <button type="submit" class="btn btn-outline-success wide mt-2">Set New Password</button>
        </form>
        <a href="{% url 'account:login' %}" class="border-top ml-3 mr-3">Already Have An Account</a>
    </div>
</div>
{% endblock %}