{% extends 'base.html' %}

{% block title %}Create a Category{% endblock title %}

{% block content %}
{% load crispy_forms_tags %}
<div class="container">
    <div class="card mt-5 shadow-sm p-3">
        <h1 class="border-bottom m-3">Create Category</h1>
        <form method="POST" class="form-group  ml-3 mr-3">
            {% csrf_token %}
            {{form|crispy}}
            <button type="submit" style="width:100%;" class="btn btn-outline-success mt-2">Create Category</button>
        </form>
    </div>
</div>
{% endblock content %}