{% extends 'base.html' %}

{% block title %}Editing Category and Measurement{% endblock title %}

{% block content %}
<div class="container">
    <div class="card mt-5 shadow-sm p-3">
        <h1 class="border-bottom">Categories</h1>
        {% for category in categories %}
            <div style="max-width:50%;"class="border p-4 m-1">
                <h6>{{ category.title }}</h6>
                <a class="btn btn-outline-info" href="{% url 'staff:edit_category' id=category.id %}">Update</a>
                <a class="btn btn-outline-danger" href="{% url 'staff:delete_category' id=category.id %}">Delete</a>
            </div>
        {% endfor %}
    </div>
    <div class="card mt-5 shadow-sm p-3">
        <h1 class="border-bottom">Measurements</h1>
        {% for measurement in measurements %}
            <div style="max-width:50%;"class="border p-4 m-1">
                <h6>{{ measurement.unit_fullname }}</h6>
                <a class="btn btn-outline-info" href="{% url 'staff:edit_measurement' id=measurement.id %}">Update</a>
                <a class="btn btn-outline-danger" href="{% url 'staff:delete_measurement' id=measurement.id %}">Delete</a>
        </div>
        {% endfor %}

    </div>
</div>
{% endblock content %}