{% extends 'base.html' %}

{% block title %}Create Recipe{% endblock title %}

{% block content %}
{% load crispy_forms_tags %}
<div class="container">
    <div class="card mt-5 shadow-sm">
        <h1 class="border-bottom m-3">Create Recipe</h1>
        <form method="POST" class="form-group ml-3 mr-3">
            {% csrf_token %}
            {{form|crispy}}
            <button type="submit" class="btn btn-outline-success wide mt-2">Create Recipe</button>
        </form>
    </div>
</div>
{% endblock content %}