{% extends 'base.html' %}

{% block title %}{{ recipe.title }}{% endblock title %}

{% block content %}
<div class="container">
    <div class="card mt-5">
        <div>
            <h5 class="card-header">{{ recipe.category }}</h5>
        </div>
        <img src="{{ recipe.image.url }}" alt="{{ recipe.title }}">
        <div class="card-body ml-5">
            <h5 class="card-title">{{ recipe.title }}</h5>
            <h3 class="card-title">£{{ recipe.price }}</h3>
            <p class="card-text">{{ recipe.description }}</p>
            <p class="text-muted">Add to Cart?</p>
            <h3 id="number_to_add">0</h3>
            <div class="flex">
                <button class="btn btn-primary">Add to cart</button>
                <button id="add" class="btn btn-success">+</button>
                <button id="subtract" class="btn btn-danger">-</button>
            </div>
        </div>
    </div>
</div>
    <script>
    $(document).ready(function(){
        $("#add").click(function(){
            var new_val = parseInt($("#number_to_add").text()) + 1;
            if (new_val <= 5){
                $("#number_to_add").text(new_val);
            }
        });
        $("#subtract").click(function(){
            var new_val = parseInt($("#number_to_add").text()) - 1;
            if (new_val >= 0){
                $("#number_to_add").text(new_val);
            }
        });
    });
    </script>
{% endblock content %}