{% extends 'base.html' %}
{% load static %}

{% block title %}Home{% endblock %}

{% block content %}
{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}
<div class="jumbotron">
    <div class="container">
        <div class="background-nice rounded">
            <h1 class="display-4">Hello, world!</h1>
            <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
            <hr class="my-4">
            <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
            <p class="lead">
            <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
            </p>
        </div>
    </div>
</div>
<div class="container">
    <div class="row row-cols-1 row-cols-md-3 mb-3 text-center results rounded shadow-sm p-3">
        {% for recipe in recipes %}
        <div class="col">
            <div class="card mb-4 rounded-3 shadow-sm shadow-sm">
                <div class="card-header py-3">
                    <h4 class="my-0 fw-normal">{{ recipe.title }}</h4>
                </div>
                <img src="{{ recipe.image.url }}" style="height:200px;" class="img-fluid" alt="Responsive image">
                <div class="card-body">
                    <h1 class="card-title pricing-card-title">£{{ recipe.price }}</h1>
                    <ul class="list-unstyled mt-3 mb-4">
                        <li>{{ recipe.description }}</li>
                        <li></li>
                    </ul>
                    <a href="{% url 'recipe_single' id=recipe.id %}" class="w-100 btn btn-lg btn-primary">Read More</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}